@import "@styles";

.body {
  position: absolute;
  right: 0;
  height: 100vh;
  background-color: rgb(245, 245, 245);

  .container {
    margin-top: 63px;
    padding: 16px 0;
    display: flex;
    width: 100%;

    .section1 {
      width: 50%;
      margin: 0 16px;
      padding: 20px;
      min-height: 85vh;
      max-height: 85vh;
      overflow: scroll;
      background-color: white;
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
        rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
      color: $color_1;

      .content {
        display: flex;
        flex-direction: column;

        .heading {
          font-size: 20px;
          font-weight: bold;
        }

        .contents {
          padding: 20px;
          margin-top: 20px;
          border: 1px solid black;

          .details {
            height: 23vh;
            width: 100%;
            overflow-y: auto;

            .grid {
              display: grid;
              grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
              padding: 10px;
              gap: 10px;

              .gridItem {
                margin: 8px;
                padding: 8px;
                background-color: rgb(227, 255, 240);
                border: 1px solid black;
                text-align: center;

                .truckCover {
                  display: flex;
                  justify-content: space-between;

                  .truckIcon {
                    height: 40px;
                    width: 45px;
                  }
                }
              }
            }
          }
        }

        .divider {
          margin: 20px 0;
        }
      }
    }

    .UnitInstructions {
      font-size: 13px;
      font-weight: 400;
      color: $color_1;
    }

    .createUnitBox {
      @include center();
      flex-direction: column;
      padding: 16px;
      border: 1px solid $color_1;
      margin: 16px 0;

      .dropFields {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        font-size: 13px;

        .dropFieldOne {
          border: 1px solid $color_1;
          padding: 10px;
          width: 300px;
          text-align: center;
        }
      }

      .buttons {
        margin: 20px 0 0;
        display: flex;
        justify-content: center;
        gap: 16px;
      }
    }

    .dispatchList {
      display: flex;
      flex-direction: column;

      .listHeading {
        margin: 16px 0;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .body{
    .container{
      flex-direction: column;
      
      .section1{
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }
}
