@import "@styles";

.container {
  padding: 32px 32px 50px;
  margin-top: 57px;
  position: absolute;
  right: 0;
  background-color: rgb(245, 245, 245);

  .header {
    .heading {
      padding-bottom: 10px;
      font-size: 24px;
      font-weight: 700;
    }
    .bottomHeader {
      display: flex;
      justify-content: space-between;
      .headerButton {
        display: flex;
        gap: 6px;
      }
    }
  }

  .bodyContainer {
    padding-top: 25px;

    .content {
      .cards {
        margin-top: 30px;
        display: flex;
        height: 50vh;
        padding-bottom: 20px;
        overflow-y: auto;
        flex-wrap: wrap;
        scroll-behavior: smooth;
        gap: 1%;

        .card {
          background-color: $color_4;
          padding: 15px 20px;
          border-radius: 10px;
          width: 49%;

          margin-bottom: 1%;

          .cardHeading {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 15px;
          }

          .cardContent {
            display: flex;
            padding-top: 24px;

            .cardImage {
              max-width: 33.33%;
              min-width: 33.32%;

              img {
                width: 100%;
              }
            }
            .cardData {
              padding-left: 24px;
              display: flex;
              width: 100%;
              flex-direction: column;
              justify-content: flex-start;
              width: max-content;
              gap: 8px;

              .cardValue {
                font-size: 16px;
                display: flex;
                width: 100%;
              }

              .cardValue:nth-child(7) {
                color: red;
              }
            }

            .cardFunctionality {
              padding-left: 24px;
              width: 25%;
              display: flex;
              flex-direction: column;
              gap: 10px;
              justify-content: flex-start;

              .functionButton {
                border-radius: 10px;
                width: 100%;
                &:hover {
                  background-color: $color_3;
                  transition-duration: 0.5s;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1030px) {
  .container {
    .bodyContainer {
      .content {
        .cards {
          height: unset;
          max-height: 64vh;
          overflow-y: auto;

          .card {
            min-width: 100%;

            .cardContent {
              flex-wrap: wrap;

              .cardImage {
                width: 100%;

                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 652px) {
  .container {
    .header {
      .bottomHeader {
        flex-direction: column;
        gap: 5px;
      }
    }
    .bodyContainer {
      .content {
        .cards {
          max-height: 50vh;
          overflow-y: auto;
          .card {
            .cardContent {
              flex-direction: column;
              align-items: center;

              .cardImage {
                width: 100%;
                margin-bottom: 10px;
              }
              .cardData {
                align-items: flex-start;
              }
              .cardFunctionality {
                margin-top: 10px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
