@import "../../styleVariables.scss";

* {
    margin: 0;
    padding: 0;
}

.root {
    @include center();
    flex-direction: column;
    min-height: 91.8vh;
    background-color: $color_1;
    width: 100vw;
}

.mainContainer {
    @include center();
    flex-direction: column;
}

.card {
    background-color: $color_3;
    padding: 32px 32px 24px 32px;
    color: $color_1;
    border-radius: 1rem;
}

.cardDetail {
    @include center();
    flex-direction: column;
}

.logo {
    width: 8rem;
    margin: 2rem;
}
.a2{
        font-size: 13px;
    color: blue
}

.heading {
    font-size: 24px;
    margin: 16px 0 24px 0;
    font-weight: 300;
}

.formControl1 {
    background-color: $color_4;
    width: 260px;
    padding: 0px 9px;
    display: flex;
    margin-bottom: 16px;
    @include flex-row();

    .icon {
        display: flex;
        margin: 0 0 0 2rem;
        align-items: center;
        height: auto;
        cursor: pointer;
        padding-bottom: 10px
    }
}
.formControl11 {
    background-color: $color_4;
    width: 260px;
    padding: 0px 9px;
    display: flex;
    // margin-bottom: 16px;
    @include flex-row();

    .icon {
        display: flex;
        margin: 0 0 0 2rem;
        align-items: center;
        height: auto;
        cursor: pointer;
        padding-bottom: 10px
    }
    
}

.bottomform {
    @include flex-column();
    width: 15.7rem;

    .checkbox {
        @include center();
        margin: 0;
        padding: 0;

        .label1 {
            font-size: 0.813rem;
            margin-left: -6px;
        }
    }

    .a{
        font-size: 13px;
        color: $color_2;
        margin-left: 12.6px;
    }
}

    .a2{
        font-size: 13px;
    }

.bottomdetail {
    padding-top: 2rem;
    @include flex-column();
    flex-direction: column;
}

.link3 {
    padding: 8px 0 0 0;
}

.toolbar {
    height: 8.2vh;
    background-color: $color_1;
    padding: 1.2rem;
    @include flex-column();
    flex-direction: row;

    .toolbarDetail{
		width: 100%;
		height: 100%;
	}
	
	.bottomLink {
		text-decoration: none;
		color: $color_3;
		float: right;
		margin-left: 1rem;
		font-size: 0.813rem;
	}
}

@media screen and (max-width:350px){
    .card{
        padding: 5px;
    }
}