@import '@styles';

.header{
    font-size: 18.5714;
    font-weight: 400;
    color: $color_1;
}

.instruction{
    font-size: 13px;
    color: #6B7280;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}