@import "@styles";

.content {
  @include flex-column();
  justify-content: space-between;

  .part1 {
    flex-direction: column;
    margin-right: 10px;
    display: inline-flex;
    width: 100%;

    .labelOfpart1 {
      color: rgb(107, 114, 128);
      font-size: 13px;
      font-weight: 300;
      width: 55%;
    }
    .labelOfpart2 {
      color: rgb(107, 114, 128);
      font-size: 13px;
      font-weight: 300;
      width: 55%;
      line-height: 15px;
    }
  }
}

@media only screen and (max-width: 516px){
  .content{
    .part1{
      .labelOfpart1{
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 316px){
  .content{
    flex-direction: column;
  }
}
