@import "@styles";

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .part1 {
    flex-direction: column;
    margin-right: 10px;
    display: inline-flex;
    width: 100%;

    .labelOfpart1 {
      color: rgb(107, 114, 128);
      font-size: 13px;
      font-weight: 300;
      width: 55%;
    }
    .labelOfpart2 {
      color: rgb(107, 114, 128);
      font-size: 13px;
      font-weight: 300;
      width: 55%;
      line-height: 15px;
    }
  }
}
