.body {

  overflow-y: scroll;
  overflow-x: hidden;

  max-height: 95%;

  .cardContainer {
    margin: 32px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .switch1 {
      align-items: center;
      display: flex;
      height: 100%;

      .switchLabel {
        font-size: 14px;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
      }
    }

    .switch2 {
      margin-top: 16px;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      height: 100%;

      .switchLabel {
        font-size: 14px;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
      }
    }

    .cardiner {
      padding: 25px;
      width: 32%;
      border: 1px solid black;
      border-radius: 14px;

      .cardinerHeading {
        font-size: 27px;
        line-height: 31px;
        font-weight: 700;
        margin: 0 0 6px;
      }

      .cardinerHeading:nth-last-child(1) {
        margin-bottom: 30px;
      }

      .h3 {
        font-size: 15px;
        font-weight: 400;
        margin: 0 0 30px;
      }
      .textContainer {
        width: 100%;
        margin: 8px 0 0px 0;
        font-size: 14px;
      }

      .cardDetail {
        border-top: 1px solid #858181;
        padding-top: 18px;
        margin-top: 30px;
        padding-bottom: 12px;

        .container {
          .switch2 {
            margin-top: 16px;
          }
        }
      }

      .conditionalContainer {
        font-size: 13px;
        width: 100%;
        margin: 8px 0 0px 0;
        margin-left: 2px;
        margin-right: 2px;
        display: flex;
        flex-direction: column;

        span {
          font-size: 11.1429px;
          margin: -13px 14px 24px;
          opacity: 0.8;
        }
      }

      .conditionalSate2 {
        display: flex;
        flex-direction: column;

        .textContainer {
          font-size: 14px;
          font-weight: 400;
        }

        .textContainerDriverRate {
          font-size: 14px;
          font-weight: 400;
          margin-top: 10px;
        }

        .condition {
          flex-wrap: wrap;
          font-size: 13px;
          margin-top: 10px;
          font-weight: 400;
        }
      }

      .note {
        margin-top: 16px;
        display: flex;
        gap: 10px;
        justify-content: center;

        .noteText {
          font-style: italic;
          font-size: 14px;
          font-weight: 900;
        }
      }
    }
  }

  .operatoroutter {
    padding: 60px 0 20px;

    .operatoroutterHeading {
      font-size: 28px;
      margin: 0 0 6px;
      font-weight: 700;
    }

    .operatoroutterSubtitle {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 0;
      max-width: 839px;
    }
  }

  .table{
    padding: 0 0 25px 0;
    width: 100%;
    overflow-x: scroll;
  }

  .bottomFunctions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;

    .addRates {
      width: min-content;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .functionBtns {
      width: min-content;
      display: flex;
      gap: 9px;

      .MuiButton-root:hover {
        background-color: unset !important;
      }
    }
  }
}


@media only screen and (max-width: 766px) {
  .body {
    .cardContainer {
      flex-direction: column;

      .cardiner {
        margin-bottom: 16px;
        width: 100%;
        }
      }

    .bottomFunctions {  
      flex-direction: column;
      align-items: flex-start;
      .functionBtns {
        margin-top: 6px;
        // flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 300px){
  body{
    .cardContainer{
      .switch1{
        flex-wrap: wrap;
      }

      .cardiner{
        .cardinerHeading{
          font-size: 22px !important;
          width: 80%;
        }
      }
    }
  }
}