@import '@styles';

.secondHalf{
    width: 33.33%;
    margin-top: 20px;

    .secondContainer{
        @include center();
        margin-bottom: 32px;
    }

    .upload{
        padding: 0 32px;
        @include center();
        width: 100%;
        cursor: pointer;
    }
}


@media screen and (max-width : 960px) {
    .mainDiv{
        flex-direction: column-reverse;
    }
    .firstHalf{
        width: 100%;
        padding: 0;
    }
    .secondHalf{
        width: 100%;
        margin: 0 0 ;
    }
}
