@import "@styles";

.body {
  margin-top: 57px;
  padding: 50px 32px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 57px);
  background-color: rgba(245, 245, 245, 1);

  .header {
    padding-bottom: 10px;
    @include flex-column();
    justify-content: space-between;

    .heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 100%;

      .backLink {
        text-decoration: none;
        cursor: pointer;

        .part1 {
          color: $color_1;
          @include flex-column();
          margin: 0px;
          font-size: 13px;
          font-weight: 300;
          margin-bottom: 12px;
          gap: 6px;
        }
      }
      .part2 {
        @include flex-column();
        max-width: 100%;

        .headerText {
          margin: 0 8px;

          .h4 {
            font-weight: 700;
            font-size: 20px;
            margin: 0;
          }
        }
      }
      .subText {
        font-size: 13px;
        font-weight: 300;
        margin: 0px 8px;
      }
    }

    .buttons {
      display: flex;
      gap: 8px;
    }
  }

  .content {
    overflow: auto;
    padding: 24px 0;

    .form {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 16px;
      .name {
        width: 50%;
      }
      .matric {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .body{
    .content{
      .form{
        flex-direction: column;

        .name{
          width: 100%;
        }
        .matric{
          width: 100%;
        }
      }
    }
  }
}