@import "@styles";

.notificationContent {

  padding-bottom: 16px;
  
  .heading {
    @include flex-column();
    flex-wrap: wrap;
    margin-top: 32px 0 0 0;

    .object {
      display: flex;
      margin-right: 16px;

      span {
        font-size: 18.5714px;
        font-weight: 700;
      }
    }
    .s1 {
      @include flex-column();
      font-weight: 600;
      font-size: 14px;
      margin-left: -11px;
      margin-right: 16px;
      cursor: pointer;
    }
  }

  .notificationContent {
    display: flex;
    margin-top: 24px;
    flex-wrap: wrap;

    .nt1 {
      width: 29%;
      padding-right: 10px;
    }
    .buttons {
      @include flex-column();
      gap: 12px;
    }
  }
}

@media only screen and (max-width: 766px) {
  .notificationContent {
    .heading {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: flex-start;

      .object {
        flex-direction: column;
      }
      .s1 {
        display: flex;
      }
    }

    .notificationContent {
      display: flex;
      flex-direction: column;
      .nt1 {
        width: 100%;
      }
    }
  }
}
