@import '@styles';

.drawer {
  height: 100%;
  overflow: auto;
  width: 100%;
  border-top-left-radius: 20px;
  background-color: $color_4;

  .searchbar {
    background-color: rgb(245, 245, 245);
    padding: 16px 16px;
  }

  .title {
    z-index: 3;
    font-weight: 500;
    font-size: 20px;
    color: $color_1;
    margin: 8px 10px;
    padding: 24px 10px;
  }

  .headingCover {
    @include flex-column();
    padding: 20px 25px;
    justify-content: space-between;

    .componentName {
      font-size: 20px;
      font-weight: 500;
    }
    .listoficon {
      display: flex;
      padding: 8px;
      flex-wrap: wrap;
      gap: 13px;

      .credit {
        height: 25px;
        width: 25px;
      }
    }
  }
}