@import "@styles";
.container {
  margin-top: 57px;
  position: absolute;
  right: 0;
  margin-bottom: 30px;
  color: black;

  .userProfile {
    padding: 20px;
    .heading {
      font-weight: 700;
    }
    .profileContainer {
      border: 1px solid black;
      padding: 30px;
      height: 100%;
      width: 100%;
      flex-wrap: wrap;
      @include flex-column();
      position: relative;
      flex-wrap: wrap;
      .detail {
        width: 44%;
        padding: 10px;
        display: flex;
        gap: 20px;
        .img {
          @include center();
          height: 120px;
          width: 120px;
          border: 4px solid rgb(245, 245, 245);
        }
        .nameDetail {
          .name {
            font-size: 17px;
            font-weight: 700;
            padding: 3px;
          }
          .address {
            font-size: 14px;
            padding: 3px;
          }
        }
      }
      .session {
        width: 30%;
        .running {
          border: 1px solid black;
          border-radius: 10px;
          @include flex-column();
          padding: 20px 10px;
          color: black;
          .leftside {
            width: 60%;
            font-size: 15px;
            display: flex;
            font-weight: 700;
            padding: 10px 0px;
            .icon {
              font-size: 60px;
            }
          }
          .rightside {
            width: 40%;
            font-size: 13px;
          }
        }
      }
      .editbtn {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        height: 100%;
        width: 20%;
        .btn {
          background-color: white;
          font-size: 14px;
          padding: 5px 30px;
        }
        .btn:hover {
          background-color: rgb(30, 30, 30);
          color: white;
          transition: 1s;
        }
      }
    }
  }

  .companyProfile {
    padding: 40px 20px;

    .heading {
      font-weight: 700;
    }
    .profileContainer {
      border: 1px solid black;
      padding: 30px;
      width: 100%;
      @include flex-column();
      position: relative;
      .detail {
        width: 40%;
        padding: 10px;
        display: flex;
        gap: 20px;
        .img {
          @include center();
          height: 120px;
          width: 120px;
          border: 4px solid rgb(245, 245, 245);
        }
        .nameDetail {
          .name {
            font-size: 17px;
            font-weight: 700;
            padding: 3px;
          }
          .address {
            font-size: 14px;
            padding: 3px;
          }
        }
      }
      .switches {
        width: 30%;
        gap: 10px;
        .heading2 {
          font-weight: 700;
          font-size: 16px;
          display: inline;
          line-height: 0.5;
          border-bottom: 2px solid rgb(0, 0, 0);
        }
        .contorl {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 20px 0;
        }
      }
      .editbtn {
        width: 35%;

        .heading2 {
          font-weight: 700;
          font-size: 16px;
          display: inline;
          line-height: 0.5;
          border-bottom: 2px solid rgb(0, 0, 0);
        }
        .detail2 {
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 13px;
        }
        .btn {
          background-color: white;
          font-size: 14px;
          position: absolute;
          right: 0;
          margin: 0 20px;
          padding: 5px 30px;
        }
        .btn:hover {
          background-color: rgb(30, 30, 30);
          color: white;
          transition: 1s;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .userProfile {
      .profileContainer {
        flex-direction: column;
        @include center();
        .detail {
          @include center();
          width: 100%;
          flex-direction: column;
        }
        .session {
          width: auto;
          display: flex;
          min-width: 70%;
          flex-direction: column;
          .running {
            flex-direction: column;
            @include center();
            .leftside {
              width: 100%;
              @include center();
              flex-direction: column;
            }
            .rightside {
              width: 100%;
            }
          }
        }
        .editbtn {
          width: auto;
          margin-top: 20px;
        }
      }
    }
  }
  .companyProfile {
    margin-bottom: 60px;
    padding: 40px 10px;
    .profileContainer {
      flex-direction: column;
      @include center();
      padding: 10px !important;
      .detail {
        width: 100% !important;
        flex-direction: column;
        gap: 0px;
      }
      .switches {
        width: 100% !important;
      }
      .editbtn {
        width: 100% !important;
        .btn {
          position: relative !important;
        }
      }
    }
  }
}
