@import "@styles";
.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 4;
    justify-content: center;

    .box {
    width: 95%;
    background-color: $color_4;
    color: $color_1;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    margin: 32px;
    position: relative;
    overflow-y: auto;
        display: flex;
    flex-direction: column;
    max-height: calc(100% - 64px);
    z-index: 4;
    max-width: 1536px;
    border-radius: 16px;
    position: absolute;

    .flex{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .customerDetails{
        display: flex;
        padding: 35px 24px 0;
        gap: 15px;

        .iconbg{
            background-color: $color_3;
            padding: 7px;
            border-radius: 5px;
            cursor: pointer;

            .printicon{
                
                height: 25px;
                width: 25px;
            }
        }
    }
    .detail{
        text-align: center;
        margin: 10px 20px;
        .heading{
            font-size: 22px;
            font-weight: 600;
            padding: 16px;
        }
        .date{
           text-align: center;
            width: 100%;
        }
        .flex{
                @include center;

            .date2{
                text-align: left;
                width: 100%;
                margin:20px 10px;
            }
                .rightFooter{
                    display: flex;
                    justify-content: flex-end;
                    gap: 10px;
                    align-items: baseline;
                    width: 30%;

                    .text{
                        font-size: 14px;
                        font-weight: 300;
                        
                    }

                   .LoadzLogo{
                    width: 120px;
                    height: 30px;
                   }
                }
        }
    }
}
    
}
