@import "@styles";

.body {
  padding: 6px;
  width: 100vw;

  .stepperCover {
    margin-bottom: 16px;
  }

  .formSection {
    margin: 8px;
    background-color: $color_4;
    color: $color_1;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
      rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border-radius: 16px;
    overflow: hidden;
    padding: 16px 16px 24px;

    .formHeading {
      margin: 24px 16px;
      font-weight: 300;
      font-size: 22.2857px;
      line-height: 1.334;
    }

    .businessDetail {
      margin: 24px 16px;
      @include flex-column();
    }

    .industryInformation {
      display: flex;
      width: 65%;
      margin: 16px;
    }

    .addressInformation {
      display: flex;
      width: 100%;
      margin: 16px;
    }
  }
}

@media only screen and (max-width: 758px) {
  .body {
    .formSection {
      .businessDetail {
        flex-direction: column;
        align-items: center;
        margin: 24px 0;
        width: 100%;
      }

      .industryInformation {
        flex-direction: column;
        @include center();
        width: 100%;
        margin: 0;
      }

      .addressInformation {
        flex-direction: column;
        @include center();
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .body {
    .stepperCover {
      display: none;
    }
  }
}
