@import '@styles';

.form {
  display: flex;
  height: 100%;
  
  // padding: 20px;
  .flexitem1 {
    display: flex;
    padding: 30px;
    width: 58%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .name {
      width: 40%;
    }

    .eni {
      width: 25%;
    }

    .text {
      width: 2%;
    }

    .fname {
      width: 35%;
    }

    .m {
      width: 10%;
    }

    .suffix {
      width: 15%;
    }
  }

  .width25 {
    width: 24%;
  }

  .width50 {
    width: 49%;
  }

  .create {
    width: 100%;
    display: flex;
    justify-content: center;

    .btn {
      width: 40%;

      background-color: $color_3;
      color: $color_1;
      text-transform: none;
      margin-top: 10px;
    }
  }

  .verticalline {
    height: 100%;
    border-left: 2px solid $color_1;
  }

  .hrLine {
    border: 0;
    border-left: 2px solid #000000;
  }

  .flexitem2 {
    width: 42%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    .addfilepopup{
      display: flex;
      gap: 10px;
    }

    .checkbox {
      display: flex;

      .label {
        font-size: '15px';
        color: $color_1;
        padding: '9px 0';
      }
    }

    .imageContainer {
      background-color: $color_1;
      color: $color_4;
      display: flex;
      align-items: center;
      height: 140px;
      width: 140px;
      flex-direction: column;
      justify-content: center;      
      border-radius: 20px;
      padding: 10px 0 ;

      .icon {
        height: 70px;
        width: 90px;
        color: $color_3;
        margin:10px;
      }
    }
  }
}
.imageDiscription{
  font-size: 10px;
  padding: 10px;
}
.addfilepopup {
  cursor: pointer;
}



.icon {
  font-size: 48px;
  color: #666;
}


.uploadContainer {
  cursor: pointer;
}

.uploadedImage {
  height: 140px;
  width: 140px;
  border: 2px solid black;
  border-radius: 5px;
}
.deleteButton{
  background-color: $color_3;
  color: $color_1;
  border: 0;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 15px;
  margin: 5px;
}
.downloadButton{
  background-color: $color_1;
  color: $color_3;
  padding: 2px 15px;
  border-radius: 25px;
}
@media only screen and (max-width:600px) {
  .heading{
    font-size: 20px;
  }
  .form{
    flex-wrap: wrap;
    .flexitem1{
      width: 100%;
      .name{
        width: 100%;
      }
      .eni{
        width: 100%;
        
      }
      .text {
        width: 100%;
      }
  
      .fname {
        width: 100%;
      }
  
      .m {
        width: 100%;
      }
  
      .suffix {
        width: 100%;
      }
    }
    .width25 {
      width: 49%;
    }
    .flexitem2{
      width: 100%;
      .checkbox{
        .label{
        font-size: 13px;
        }
      }
    }
  }
}
