@import '@styles';

.mainBody{
    padding: 50px 32px;
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 1);

    .bodyWrapper{
        flex: 1;
        overflow-y: auto;
    }
}