@import '../../styleVariables.scss';

*{
    margin: 0;
    padding: 0;
    font-family: $font-family_1;
}
.navigationbar{
    z-index: 10;
}
.container{
    margin: 63px 0 0 0;
    padding: 32px 32px 0 32px;
    // height:100vh;
    flex-direction: column;
}
.titleText{
    font-size: 32px;
    font-weight: 600;
}
.subcontainer{
    display: flex;
    justify-content: space-between;
}

.search{
    display: flex;
   gap: 10px;
}

.body {
    margin: 30px 0 0 0;
    border-radius: 10px;
    height: 65%;
}