.heading {
  font-weight: 700;
  color: black;
  margin: 10px 20px;
  font-size: 18px;
}
.closeicon {
  cursor: pointer;
}
.flex {
  display: flex;
  .updateimg {
    width: 40%;
    text-align: center;
    margin: 10px 0px;
    .imgdiv {
      border-radius: 50%;
      .profile {
        border: 4px solid rgb(245, 245, 245);
        height: 120px;
        width: 120px;
        border-radius: 50%;
      }
    }
    .btn2 {
      font-size: 14px;
      padding: 5px 40px;
      margin: 10px 10px 10px 20px;
      background-color: rgb(30, 30, 30);
      color: white;
      transition: 1s;
    }
  }
  .textFields {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    column-gap: 2.5%;
    margin: 10px 20px;
  }
}
