*{
    margin: 0;
    padding: 0;
}
.divHeader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 8px;

    .headerContaint{
        margin: 0;
    }
    .headerIcon{
        margin-right: 4px;
    }
}