@import "../../styleVariables.scss";

.cardcontainer {
	padding: 12px;
}

.card {
	background-color: $color_4;
	z-index: 2;
	border: 1px solid #ccc;
	padding: 25px;
	padding-top: 0;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
	text-align: center;
}

.innerBox {
	background: $color_4;
	border: 1px solid rgb(221, 221, 221);
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.title {
	font-size: 32px;
	font-weight: 300;
	padding: 32px;
	margin: 0;
}

.price {
	font-size: 16px;
	color: $color_6;
	margin: 10px 0px;
}

.keyFeatures {
	padding: 15px;
}

.bulletPoint {
	font-size: 13px;
	text-align: left;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	padding: 0;
	margin: 0;
}

.startFreeButton {
	font-size: 13px;
	background-color: $color_3;
	width: 94%;
	color: $color_1;
	margin: 0px 12px 12px 12px;
	border: none;
	border-radius: 20px;
	padding: 4px 0 4px 0;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 10px;
}

.btntext {
	font-size: 13px;
	font-weight: 300;
	opacity: .70;
	color: black;
	border-bottom: 0;
	text-decoration: none;
}

.trialText {
	font-size: 14px;
	color: $color_7;
	margin: 0;
	margin-top: 16px;
	margin-bottom: 10px;
}

.boxTitle {
	font-size: 18px;
	font-weight: bold;
	color: $color_8;
}

li {
	padding: 0;
	text-align: left;
	margin: 0;
}

span {
	margin-left: -10px;
}

@media only screen and (max-width: 600px) {
	.card {
		border-radius: 5px;
		padding: 0;
		width: 300px;
	}

	.title {
		padding: 32px;
	}

	.innerBox {
		margin-left: auto;
		padding: 10px 0 10px 0;
		margin-right: auto;
	}

	.startFreeButton {
		width: 80%;
	}
}

@media only screen and (max-width: 300px) {
	.card {
		width: 256px;
	}

	.innerBox {
		padding: 15px;
	}

	.keyFeatures {
		padding: 20px;
	}
}