@import "@styles";

.titleBox {
  z-index: 0;
  background-color: $color_1;
  margin: 0;
}
.titlecontainer {
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}
.titleText {
  margin: 128px;
}
.title {
  text-align: center;
  margin: 0;
  font-size: 52px;
  color: $color_3;
  margin-left: auto;
  margin-right: auto;
}
.titleDiscription {
  line-height: 1.5;
  font-weight: 300;
  margin-top: 16px;
  font-size: 16px;
  color: $color_4;
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.75;
}
.titleDescription {
  &::first-line {
    margin-left: 0;
  }
}
.cards {
  @include flex-row;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: -120px;
}
.page2 {
  margin: 0 73px 0 73px;
}
.questionContainer {
  padding: 96px 0 96px 0;
  margin-left: 80px;
  margin-right: 80px;
}
.questionTitle {
  @include flex-row;
  line-height: 1.2;
  font-size: 32px;
  font-weight: 300;
  padding-bottom: 32px;
  margin: 0;
}
.flex {
  @include flex-row();
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}
.questionBox {
  width: 40%;
  padding: 24px;
}
.question {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 300;
}
.answere {
  color: $color_7;
  font-weight: 300;
}
@media only screen and (max-width: 600px) {
  .cards {
    margin: -120px 0 0 0;
    flex-direction: column;
    @include center();
  }
  .questionContainer {
    margin-right: 0;
    margin-left: 0;
  }
  .questionTitle {
    font-size: 18px;
  }
  .page2 {
    margin: 0;
  }
  .flex {
    flex-direction: column;
    @include center();
  }
  .questionBox {
    width: 80%;
  }
  .title {
    font-size: 32px;
  }
  .titleText {
    margin: 128px 24px 128px 24px;
  }
  .titleDiscription {
    padding-left: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .questionContainer {
    padding: 96px 0 96px 0;
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media only screen and (max-width: 1200px) {
  .page2 {
    margin: 0;
  }
  .questionContainer {
    margin: 0;
  }
}
