.container{
      margin: 63px 0 0  0;
      padding: 20px;
  .flexContainer{
    margin: 10px;
    display: flex;

    .drawer{
      padding: 20px 0;
      width: 2  0%;

      .logo{
          display: flex;
        .dumplogo{
          height: 50px;
          width: 50px;
        }
        .label{
          font-size: 24px;
          display: flex;
          font-weight: 700;
          justify-content: center;
          align-items: center;
        } 
      }
    }
  }
}