@import "@styles";

.container {
  margin: 63px 0 0 0;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  .flexContainer {
    margin: 10px 0;
    display: flex;
    gap: 5%;

    .drawerCover {
      width: 25%;
    }
    .searchbar {
      width: 70%;
      padding: 30px 0;

      .navigateIcon {
        color: $color_1;
        margin: 0 16px 0 6px;
        display: none;
        cursor: pointer;
      }
      .hr {
        margin-top: 60px;
      }
      .archivebtn {
        font-weight: 600;
        font-size: 14px;
      }
      .card {
        @include center();
        cursor: pointer;

        width: 100%;
        .cardimage {
          width: 20%;
          .img {
            height: 60px;
            width: 100px;
          }
        }
        .carddetails {
          width: 80%;
          .detail {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 899px) {
  .container{
    .flexContainer{
      .drawerCover{
        display: none;
      }
      .searchbar{
        width: 100%;
        .navigateIcon{
          display: block;
        }
      }
    }
  }
}
