@import "../../../styleVariables.scss";

.container {
	@include center();
	height: 100vh;
	background-color: $color_1;
}
.card {
	background-color: $color_3;
	border-radius: 1.25rem;
	@include center();
	flex-direction: column;
}
.cardContainer {
	padding: 32px;
	@include center();
	flex-direction: column;
}
.logoImage {
	width: 128px;
	margin: 32px;
}
h6 {
	font-size: 24px;
	font-weight: 300;
	margin: 0px;
	margin-top: 16px;
	margin-bottom: 24px;
}
.recover{
	font-size: 24px;
	font-weight: 300;
	margin: 0px;
	margin-top: 16px;
	margin-bottom: 24px;
	text-align: center;
}
.multiInput {
	background-color: $color_4;
	width: 15rem;
	padding: 0px 9px;
	margin-bottom: 1rem;
	@include flex-row();
}
.icon {
	@include center();
	margin-left: 3rem;
}
.btn {
	background-color: $color_1;
	color: $color_4;
	font-size: 13px;
	border-radius: 18PX;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 16px 27.5px 0 16px;
	padding: 6px 26px 6px 26px;
}
.link {
	margin: 30px 0;
	font-size: 13px;
}
.resetlink {
	color: $color_4;
	text-decoration: none;
}
@media only screen and (max-width: 600px) {
	.card {
		padding: 0;
		width: 270px;
	}
	.cardContainer {
		padding: 0px;
	}
	h6 {
		font-size: 20px;
	}
	.multiInput {
		width: 14rem;
	}
}