@import '@styles';

.mainContainer{
    width: 100vw;
}
.page{
    margin: 0 15px;
    padding: 0px 16px 0px 16px;
}
.loadzLogo{
        padding: 63px 0;
        width: 197px;
        max-width: 100%;
}
.textfield1{
    width: 100%;
}
.formLabel1{
    font-size: 13px;
    font-weight: 400;
}
.requiredAll{
    color: red;
}
.mainDiv{
    display: flex;
    padding: 0px 16px 24px 16px;
    margin: 0 15px;
}
.firstHalf{
    width: 66.66%;
    padding-right: 96px;
}
.combiner{
    width: 100%;
    display: flex;
}
.combine1{
    padding-right: 8px;
    width: 50%;
 
}
.combine2{
    padding-left: 8px;
    width: 50%;
}
.bottomContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content1{
    @include flex-column();
    flex-direction: row;

    span{
        padding-right: 2px;
    }

    a{
        font-size: 13px;
    }
}
.button1{
    margin-top: 16px;
}
.bottomLink{
    padding: 20px 0 24px 0;
    font-size: 13px;
}

img{
    max-width: 100%;
}

@media screen and (max-width : 960px) {
    .mainDiv{
        flex-direction: column-reverse;
    }
    .firstHalf{
        width: 100%;
        padding: 0;
    }
    .secondHalf{
        width: 100%;
        margin: 0 0 ;
    }
}

@media screen and (max-width : 600px){
    .loadzLogo{
        padding: 40px 0;
        width: 150px;
    }
    .combiner{
        flex-direction: column;
    }
    .combine1{
        width: 100%;
        padding: 0;
    }
    .combine2{
        padding: 0;
        width: 100%;
    }
    .uploadimg{
        width: 70%;
    }
}

@media screen and (max-width : 300px) {
    .loadzLogo{
        padding: 40px 0;
        width: 100px;
    }
    .uploadimg{
        width: 40%;
    }
}