@import "@styles";

.drawer {
  height: 100%;
  overflow: auto;
  width: 100%;  
  background-color: $color_4;
  
  .searchbar {
    background-color: rgb(245, 245, 245);
    padding: 20px 10px;
  }

  .profile {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid $color_1;

    .name {
      font-size: 13px;
    }
  }
}
